 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 

    .custom_caption {
        right: 3%;
        left: 3%;
        bottom: 5% !important;
    }.custom_caption h1{
        font-size: 28px;
    }
    .custom_caption p{
        font-size: 12px;
        margin: 7px;
        line-height: 20px;
    }
    .custom_caption a{
        
font-size: 9px;
        
padding: 4px 7px !important;
    }
    .banner_img img{
        width: 140% !important;
    }
    .course img{ 
        width: 100%;
    
    }   .accordion{
        width: 100% !important;
    }
    .expolore_details {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
     }
    
    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) and (max-width: 767.98px) { 
        
        .accordion{
            width: 100% !important;
        }
    }
    
     /* Medium devices (tablets, 768px and up) */
    @media (min-width: 768px) and (max-width: 991.98px) {
    
        .expolore_details h1{
          font-size: 25px;
        }
        .accordion{
            width: 100% !important;
        }
     }
    
     /* Large devices (desktops, 992px and up) */
    @media (min-width: 992px) and (max-width: 1199.98px) { 
        
    }
    /* Extra large devices (Extra large desktops, 1200px and up) */
    @media (min-width: 1200px) and (max-width: 1399.98px) { 
        
    }
    /* Extra Extra large devices (Extra Extra large desktops, 1200px and up) */
    @media (min-width: 1400px) and (max-width: 1599.98px) { 
        
    }